<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/styles/forchat.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <div class="background-image"></div>
    <div class="bottom-navbar">
        <nav class="navbar navbar-expand-sm bg-light navbar-black fixed-bottom">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img class="nav-item" src="images/home.svg" alt="nav-bar buttons"></a>
              <a class="navbar-brand" href="#"><img class="nav-item" src="images/group-of-people-svgrepo-com.svg" alt="nav-bar buttons"></a>
              <a class="navbar-brand nav-plus" href="/community"><img class="nav-item nav-item-big" src="images/plus-circular-button-svgrepo-com.svg" alt="nav-bar buttons"></a>
              <a class="navbar-brand" href="#"><img class="nav-item" src="images/message-svgrepo-com.svg" alt="nav-bar buttons"></a>
              <a class="navbar-brand" href="#"><img class="nav-item" src="images/notification.png" alt="nav-bar buttons"></a>
            </div>
          </nav>
        </div>

    <div class="top-navbar">
        <nav class="navbar navbar-expand-sm bg-light navbar-black fixed-top">
            <div class="container-fluid"> 
                <a class="navbar-brand" href="/home"><img class="nav-item" src="/images/home.svg" alt="nav-bar buttons"></a>
                <a class="navbar-brand" href="#"><img class="nav-item" src="/images/group-of-people-svgrepo-com.svg" alt="nav-bar buttons"></a>
                <a class="navbar-brand nav-plus" href="/community"><img class="nav-item nav-item-big" src="/images/plus-circular-button-svgrepo-com.svg" alt="nav-bar buttons"></a>
                <a class="navbar-brand" href="/chat"><img class="nav-item" src="/images/message-svgrepo-com.svg" alt="nav-bar buttons"></a>
                <a class="navbar-brand" href="#"><img class="nav-item" style="height: 3vh; width: 2.5vw;" src="/images/notification.png" alt="nav-bar buttons"></a>
                <a class="navbar-brand" href="/profile"><img class="nav-item" style="border-radius: 50%; width: 1.5vw;" src="/images/WhatsApp Image 2023-11-07.jpg" alt="nav-bar buttons"></a>
            </div>
          </nav>
    </div>
    <div class="main-container">
        <div class="grid">
            <div class="cols-1">
                <div class="searchbar-forchat">
                    <input type="text" name="search" id="search" placeholder="search" class="inside-search">
                </div>
                <div class="profiles">
                    <div class="profile-1">
                        <a href="" class="profiles-link"><div class="profilesgrids">
                            <div class="profile-photo"><img src="/images/my-img.jpg" width="25px" alt=""></div>
                            <div class="name">Deeraj Kumar</div>
                            <div class="chat">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                        </div></a>
                    </div>
                    <div class="profile-1">
                        <a href="" class="profiles-link"><div class="profilesgrids">
                            <div class="profile-photo"><img src="/images/my-img.jpg" width="25px" alt=""></div>
                            <div class="name">Deeraj Kumar</div>
                            <div class="chat">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                        </div></a>
                    </div>
                    <div class="profile-1">
                        <a href="" class="profiles-link"><div class="profilesgrids">
                            <div class="profile-photo"><img src="/images/my-img.jpg" width="25px" alt=""></div>
                            <div class="name">Deeraj Kumar</div>
                            <div class="chat">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                        </div></a>
                    </div>
                    <div class="profile-1">
                        <a href="" class="profiles-link"><div class="profilesgrids">
                            <div class="profile-photo"><img src="/images/my-img.jpg" width="25px" alt=""></div>
                            <div class="name">Deeraj Kumar</div>
                            <div class="chat">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                        </div></a>
                    </div>
                    <div class="profile-1">
                        <a href="" class="profiles-link"><div class="profilesgrids">
                            <div class="profile-photo"><img src="/images/my-img.jpg" width="25px" alt=""></div>
                            <div class="name">Deeraj Kumar</div>
                            <div class="chat">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                        </div></a>
                    </div>
                    <div class="profile-1">
                        <a href="" class="profiles-link"><div class="profilesgrids">
                            <div class="profile-photo"><img src="/images/my-img.jpg" width="25px" alt=""></div>
                            <div class="name">Deeraj Kumar</div>
                            <div class="chat">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                        </div></a>
                    </div>
                    <div class="profile-1">
                        <a href="" class="profiles-link"><div class="profilesgrids">
                            <div class="profile-photo"><img src="/images/my-img.jpg" width="25px" alt=""></div>
                            <div class="name">Deeraj Kumar</div>
                            <div class="chat">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                        </div></a>
                    </div>
                    <div class="profile-1">
                        <a href="" class="profiles-link"><div class="profilesgrids">
                            <div class="profile-photo"><img src="/images/my-img.jpg" width="25px" alt=""></div>
                            <div class="name">Deeraj Kumar</div>
                            <div class="chat">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                        </div></a>
                    </div>
                    <div class="profile-1">
                        <a href="" class="profiles-link"><div class="profilesgrids">
                            <div class="profile-photo"><img src="/images/my-img.jpg" width="25px" alt=""></div>
                            <div class="name">Deeraj Kumar</div>
                            <div class="chat">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                        </div></a>
                    </div>
                    <div class="profile-1">
                        <a href="" class="profiles-link"><div class="profilesgrids">
                            <div class="profile-photo"><img src="/images/my-img.jpg" width="25px" alt=""></div>
                            <div class="name">Deeraj Kumar</div>
                            <div class="chat">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                        </div></a>
                    </div>
                </div>
            </div>
            <div class="cols-2">
                <div class="header">
                    <h2>Deeraj</h2>
                  </div> 
                  
                  <div class="row">
                    <div class="leftcolumn">
                      <div class="card">
                        <h5>Title description, Dec 7, 2017</h5>
                        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                        <p>Some text..</p>
                      </div>
                      <div class="card">
                        <h5>Title description, Sep 2, 2017</h5>
                        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                        <p>Some text..</p>
                      </div>
                    </div>
                    <div class="rightcolumn">
                      <div class="card">
                        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                      </div>
                      <div class="card" style="border:none;">
                        <input type="text" style="border-radius: 20vh;border: 20vh 20vh purple;"name="chat-withperson" id="chat-withperson" placeholder="     Type Anything....">
                      </div>
                      <div class="card">
                        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                        <p>Some text..</p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>
</html>