<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEIGHBORHOOD NEXON</title>
    <link rel="stylesheet" href="styles/profile.css"><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <div class="background-image"></div> 
    <div class="bottom-navbar">
        <nav class="navbar navbar-expand-sm bg-light navbar-black fixed-bottom">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img class="nav-item" src="images/home.svg" alt="nav-bar buttons"></a>
              <a class="navbar-brand" href="#"><img class="nav-item" src="images/group-of-people-svgrepo-com.svg" alt="nav-bar buttons"></a>
              <a class="navbar-brand nav-plus" href="/community"><img class="nav-item nav-item-big" src="images/plus-circular-button-svgrepo-com.svg" alt="nav-bar buttons"></a>
              <a class="navbar-brand" href="#"><img class="nav-item" src="images/message-svgrepo-com.svg" alt="nav-bar buttons"></a>
              <a class="navbar-brand" href="#"><img class="nav-item" src="images/notification.png" alt="nav-bar buttons"></a>
            </div> 
          </nav>
        </div>
    
        <div class="top-navbar">
            <nav class="navbar navbar-expand-sm bg-light navbar-black fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/home"><img class="nav-item" src="images/home.svg" alt="nav-bar buttons"></a>
                    <a class="navbar-brand" href="#"><img class="nav-item" src="images/group-of-people-svgrepo-com.svg" alt="nav-bar buttons"></a>
                    <a class="navbar-brand nav-plus" href="/community"><img class="nav-item nav-item-big" src="images/plus-circular-button-svgrepo-com.svg" alt="nav-bar buttons"></a>
                    <a class="navbar-brand" href="/chat"><img class="nav-item" src="images/message-svgrepo-com.svg" alt="nav-bar buttons"></a>
                    <a class="navbar-brand" href="#"><img class="nav-item" style="height: 3vh; width: 2.5vw;" src="images/notification.png" alt="nav-bar buttons"></a>
                    <a class="navbar-brand" href="/profile"><img class="nav-item" style="border-radius: 50%; width: 2.5vw;" src="images/WhatsApp Image 2023-11-07.jpg" alt="nav-bar buttons"></a>
                </div>
              </nav>
        </div>

        <div class="container mt-5 pt-10 text-center profile-container">
          <img src="/images/WhatsApp Image 2023-11-07.jpg" class="profile-img rounded-circle mb-3" alt="Profile Picture">
          <h3 class="mb-1">DEERAJ</h3>
          <p class="text-muted">@deeru123</p>
          
          <div class="d-flex justify-content-center my-3">
            <button class="btn btn-primary btn-sm">Edit Profile</button>
          </div>

          <div class="row text-center mb-3">
            <div class="col">
              <h5>34</h5>
              <small>Posts</small>
            </div>
            <div class="col">
              <h5>1.2K</h5>
              <small>Followers</small>
            </div>
            <div class="col">
              <h5>180</h5>
              <small>Following</small>
            </div>
          </div>

          <div class="profile-bio px-3">
            <p>Hello! I’m a neighborhood enthusiast who loves organizing local events and connecting with the community. Let’s grow together 🌱</p>
          </div>
  </div>
        
</body>
</html>